{% extends 'analytics_index.html' %}

{% block body %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

<form method='POST'>
    {% for key in keys %}
    <label class='form-label'>{{ key }} : </label>
    {{ form|attr(key)() }}
    <br>
    {% endfor %}
    <br>
    <button class="btn btn-lg btn-primary" type="submit" method="POST">Filter</button>
</form>

<p> Total orders: {{orders|length}}</p>
{% include 'result_table.html' %}

<div id="orders-graph"></div>
<div class="chart-parent" height="30vh" width="100vw">
    <canvas id="myChart"></canvas>
</div>
</div>
{% block javascript %}
<script>
    function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
    }


    function countInArray(array, what) {
        return array.filter(item => item == what).length;
    }

    var ctx = document.getElementById('myChart').getContext('2d');

    var labels = [];
    var data = [];
    {% for order in orders %}
    labels.push("{{order.orderedat}}");
    data.push("{{order.sum}}")
    {% endfor %}

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                data: data,
                label: 'Past Month Orders',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                borderColor: 'rgb(135,206,250)',
                pointBorderColor: 'rgb(135,206,250)',
                borderWidth: 4
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
{% endblock %}