{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/priceRange.js')}}" ></script>
{% endblock %}

{% block content %}
<div class="cotnainer">
    <div class="row border border-successs">
        <div class="col-lg-2 tags-container">
            <p class='heading-text'>FILTERS</p>
            <form method="POST" action="/products">
                {% for tag in tags %}
                <div class="tag-filters">
                    <label for="tag-{{tag.name}}"> <input type="checkbox" id="tag-{{tag.name}}" value="{{tag.name}}"
                            name="tags">
                        {{tag.name}}</label>
                </div>
                {% endfor %}
                <button type="submit" id="filter-button" class="btn btn-info btn-lg">Filter</button>
                <div id="slider-container"></div>
                <p>
                    <label for="amount">Price range:</label>
                    <input type="text" id="amount" style="border: 0; color: #1fb9f6; font-weight: bold;" />
                </p>
            </form>
        </div>
        <div class="col-lg-10">
            <div class="row" id="toolbar">
                <div class="col-lg-3">
                    <form method='POST' action='/products'>
                        <select name='sort_by' class="form-control form-control-lg" onchange='this.form.submit()'>
                            <option value="" selected disabled hidden>Sort by</option>
                            <option value="{'param':'price','desc':'False'}">Price acending</option>
                            <option value="{'param':'price','desc':'True'}">Price descending</option>
                            <option value="{'param':'rating','desc':'False'}">Rating acending</option>
                            <option value="{'param':'rating','desc':'True'}">Rating descending</option>
                        </select>
                    </form>
                </div>
            </div>
            {% for product in products[:20]: %}
            <div class="row product-container well" data-price='{{product.price}}'>
                <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img src="{{ product.imagepath }}"
                        class="img-thumbnail rounded product-image" />
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-10 float-left">
                            <h3 class="product-name">{{ product.name}}</h3>
                        </div>
                        <div class="col-lg-2">
                            <p class="price text-info"> ${{ product.price }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="star-ratings-sprite"><span style="width:{{ product.rating / 6 * 100 }}%"
                                    class="star-ratings-sprite-rating"></span></div>
                        </div>
                        <div class="col-lg-2">
                            <form action="/cart/add" method='POST'>
                                <input type="hidden" value='{{product.id}}' name='product'>
                                <button name='product' type="submit" class="btn btn-secondary btn-lg">Add to
                                    cart</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}