{% extends 'base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}

{% block content %}
<div class="cotnainer">
    <div class="row border border-successs">
        <div class="col-lg-2 tags-container">
            <p class='heading-text'>FILTERS</p>
            <form method="POST" action="/products">
                {% for tag in tags %}
                <div class="tag-filters">
                    <label for="tag-{{tag.name}}"> <input type="checkbox" id="tag-{{tag.name}}" value="{{tag.name}}"
                            name="tags" onclick='this.form.submit()' {% if tag.name in selected_tags %} checked {%endif%}>
                        {{tag.name}}</label>
                </div>
                {% endfor %}
                <label for="amount">Price range:</label>
                <div class="row price-range">
                    <div class="col-lg-5 col-sm-5">
                        <input type="text" name='min' id='min-ammount' class='form-cotrol' style="width:100%"
                            placeholder='0' value="{{prices_range[0]}}"/>
                    </div>
                    <h2 class="float-left">-</h2>
                    <div class="col-lg-5 col-sm-5">
                        <input type="text" name='max' id='max-ammount' class='form-cotrol' style="width:100%"
                            placeholder='1000' value="{{prices_range[1]}}"/>
                    </div>
                </div>

                <button type="submit" id="filter-button" class="btn btn-info btn-lg">Filter</button>

            </form>
        </div>
        <div class="col-lg-10 col-sm-12">
            <div class="row" id="toolbar">
                <div class="col-lg-3 col-sm-3">
                    <form method='POST' action='/products'>
                        {% for tag in selected_tags %}
                        <input type='hidden' name='tags' value='{{tag}}'>
                        {% endfor %}
                        <input type='hidden' name='min' value="{{prices_range[0]}}"/>
                        <input type='hidden' name='max' value="{{prices_range[1]}}"/>
                        <select name='sort_by' class="form-control form-control-lg" onchange='this.form.submit()'>
                            <option value="" selected disabled hidden>Sort by</option>
                            <option value="{'param':'price','desc':'False'}">Price acending</option>
                            <option value="{'param':'price','desc':'True'}">Price descending</option>
                            <option value="{'param':'rating','desc':'False'}">Rating acending</option>
                            <option value="{'param':'rating','desc':'True'}">Rating descending</option>
                        </select>
                    </form>
                </div>
            </div>
            {% if products|length == 0 %}
                <p>No products found.</p>
            {% endif %}
            {% for product in products: %}
            <div class="row product-container well" data-price='{{product.price}}'>
                <div class="col-lg-2 col-sm-2 col-xs-2">
                    <a href="/products/{{product.id}}"><img src="{{ product.imagepath }}" class="img-thumbnail rounded product-image"/></a>
                </div>
                <div class="col-lg-10 col-sm-10">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10 float-left">
                            <a href="/products/{{product.id}}" id="name-heading"><h3 class="product-name">{{ product.name}}</h3></a>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            {% set ns = namespace(deal=false) %}
                            {% for deal in deals: %}
                                {% if product.id == deal.productid %}
                                    <p class="price text-muted"><strike> <small>${{ product.price }}</small> </strike></p>
                                    <p class="price text-danger"> ${{ deal.newprice }}</p>
                                    {% set ns.deal = true %}
                                {% endif %}
                            {% endfor %}
                            {% if ns.deal is sameas false %}
                                <p class="price text-info"> ${{ product.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-sm-10">
                            <div class="star-ratings-sprite"><span style="width:{{ product.rating / 5 * 100 }}%"
                                    class="star-ratings-sprite-rating"></span></div>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <form action="/cart/add" method='POST'>
                                <input type="hidden" value='{{product.id}}' name='product'>
                                <button name='product' type="submit" class="btn btn-secondary btn-lg">Add to
                                    cart</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-sm-10">
                            <p class="productDescription">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <form action="/products" method="POST">
                {% for i in range(page-5 if page-5 > 0 else 1, page+10) %}
                    {% if i == page %}
                        <button value="{{i}}" name="page" type="submit"
                            class="page-button btn btn-info float-left">{{ i }}</button>
                    {% else %}
                        <button value="{{i}}" name="page" type="submit"
                            class="page-button btn btn-outline-info float-left">{{ i }}</button>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>

</div>
{% include 'footer.html' %}
{% endblock %}