{% extends "bootstrap/base.html" %}
{% block title %}Puzzles{% endblock %}

{% block styles %}
{{super()}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/sort.js')}}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">Puzzls</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Deals</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="cotnainer">
    <div class="row border border-successs">
        <div class="col-lg-2 tags-container">

        </div>
        <div class="col-lg-10">
            <div class="row" style="height: 10%;">
                <div class="col-lg-3">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" role="button" id="sortByDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by
                        </a>

                        <div class="dropdown-menu" aria-labelledby="sortByDropdown">
                            <a class="dropdown-item" href="javascript:;" onclick='sort({{ products }})'>Price ascending</a>
                            <a class="dropdown-item" href="#">Price descending</a>
                            <a class="dropdown-item" href="#">Rating ascending</a>
                            <a class="dropdown-item" href="#">Rating descending</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for product in products: %}
            <div class="row product-container well">
                <div class="col-lg-2 col-sm-2 col-xs-2">
                    <img src="{{ url_for('static', filename='img/' + product.imagepath) }}"
                        class="img-thumbnail rounded product-image" />
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-10 float-left">
                            <h3 class="product-name">{{ product.name }}</h3>
                        </div>
                        <div class="col-lg-2">
                            <p class="price text-info"> {{ product.price }}$</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="star-ratings-sprite"><span style="width:{{ product.rating / 6 * 100 }}%"
                                    class="star-ratings-sprite-rating"></span></div>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-secondary btn-lg">Add to cart</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}